.navbar-nav  li{
  margin-left:20px;
  margin-right:20px;
  font-weight: bold;
}

.navbar-brand{
	margin-left:10px;
	font-size: 28px;
	font-weight: bold;
	color: white;
	position: absolute;
}

img{
	margin-right: 10px;
  
}
.nav-item a:hover{
border-bottom: 1px solid black;
}

body{
	font-family: ;
	font-size: 16px;
	line-height: ;
	font-weight: normal;
	background: ;
	color: ;
	height: 110vh;
	background-color:#000 ;
	background-image: url("shutterstock_2183386071.jpg"); 
	background-size:cover ;
	background-position:center;
}

* {
    box-sizing: border-box;
}

.ftco-section {
    padding: 7em 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px){
.container {
    max-width: 960px;
}

div{
	display: block;
}

.justify-content-center {
    justify-content: center;
}

.col-md-12{
	position: relative;
    width: 100%;
    padding-right:0px;
    padding-left: 0px;
}
.wrapper {
    width: 100%;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row { 
    display: flex;
    flex-wrap: wrap;    
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.mb-5 {
    margin-bottom: 2rem;
}


 .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
@media (min-width: 768px){
.col-md-7 {
    -webkit-box-flex: 0;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
 }
}

.col-md-7{
 position: relative;
 width: 100%;
}


.contact-wrap {
    background: #e8edf0;
}

.w-100 {
    width: 100% !important;
}
@media (min-width: 768px){
.p-md-5 {
    padding: 3rem !important;
 }
}
.p-4 {
    padding: ;
}

 h3 {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Poppins", Arial, sans-serif;
    color: #000;
}
h3{
    font-size: 1.75rem;
}

 h3 {
    margin-top: 0;
}

h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}


#form-message-warning {
    color: red;
}
#form-message-warning {
    display: none;
}

#form-message-success {
    color: #28a745;
    font-size: 18px;
    font-weight: 500;
}
 #form-message-success {
    display: none;
}
.mb-4 {
    margin-bottom: 1.5rem !important;
}

form {
    display: block;
    margin-top: 0em;
}

@media (min-width: 768px){
.col-md-6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
 }
}

.col-md-6{
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    cursor: default;
}

input {
    margin: 0;
    font-family: inherit;
    overflow: visible; 
}

input[type="text" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}

input {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
}

#contactForm .form-control {
    font-size: 16px;
}
.contactForm .form-control {
    border: none;
}
.form-control {
    height: 44px;
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    box-shadow: none !important;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (min-width: 768px){
.col-md-12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
 }
}

.col-md-12{
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

d-flex {
    display: flex !important;
}

.align-items-stretch {
    -webkit-box-align: stretch !important;
    align-items: stretch !important;
}
@media (min-width: 768px){
.col-md-5 {
    -webkit-box-flex: 0;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
 }
}

.col-md-5{
	position: relative;
	width: 100%
}

@media (min-width: 768px){
.col-md-3 {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-md-3{
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px){
.dbox {
    margin-bottom: 0;
    padding: 0;
 }
} 

.w-100 {
    width: 100% !important;
}

.text-center {
    text-align: center !important;
}

.dbox .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #696969;
    margin: 0 auto;
    margin-bottom: 20px;
}

.d-flex {
    display: flex !important;
}
.align-items-center {
    -webkit-box-align: center !important;
    align-items: center !important;
}

.dbox .text {
    width: 100%;
}
@media (min-width: 768px){
.col-md-3 {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.col-md-3{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px){
.dbox {
    margin-bottom: 0;
    padding: 0;
  }
}
.text-center {
    text-align: center !important;
}

